*, html, body{
  margin: 0;
  padding: 0;
}

html, body{
    background: linear-gradient(90deg,#2d22ab, #dc4a9d);
}

#top{
    background: linear-gradient(90deg,#2d22ab, #dc4a9d);
  height: 200px;
}

#wordmark {
  font-size: 1.4em;
}
#wordmark span {
  font-weight: 300;
  font-size: 1.4em;
}
#wordmark svg {
  fill: white;
  width: 70px;
  opacity: 50%;
}

#wordmark svg:hover{
  opacity: 100%;
}

#top nav{
  padding-top: 20px;
}

#top nav ul{
  justify-content: center;
}

#top nav .nav-item{
  padding-right: 40px;
}

#top nav .nav-item .nav-link{
    color: white;
}

#top nav .nav-item .nav-link.active{
  color: white;
  border-bottom: 1px solid white;
}

#top .nav-item a{
  font-size: 18px;
}

#top .nav-item a:hover{
  color: white;
  border-bottom: 1px solid white;
}

header svg:hover{
  opacity: 100%;
}

nav{
  font-family: 'Varela Round', sans-serif;
}

h1{
  font-family: 'Playfair Display', serif;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  line-height: 6.5rem;
  font-weight: 800;
  background: linear-gradient(90deg,#2d22ab, #dc4a9d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

#top h2{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: #8435a3a1;
  font-size: 30px;
  opacity: 65%;
}

#top p{
  text-align: center;
  font-weight: 300;
  font-size: 19px;
  padding-top: 20px;
}


@media screen and (max-width:768px){
  #top {
    height: 250px;
  }

  .navbar-toggler{
    background-color: white;
  }
  #top h1{
    padding-top: 40px;
  }

  #bottom {
    margin-top: 30px;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .footer{
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

#bottom{
    display: flex;
    height: 650px;
    justify-content: center;
}

#bottom .box{
    border-radius: 20px;
    width: 900px;
    background-color: white;
}

#bottom .inner-box{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

#bottom .btn{
    background-color: #943ab8b2;
    color: white;
}

footer{
    padding-top: 0px;
    background: linear-gradient(90deg,#2d22ab, #dc4a9d);
}


.footer{
  display: flex;
  font-family: 'Varela Round', sans-serif;
}

footer .container{
  text-align: center;
}

footer .container a{
  text-decoration: none;
  color: #de8bff;
}

footer .text{
    color: white;
}
footer .container a:hover{
  color: white;
}

.footer svg{
  width: 100px;
  float: right;
  padding-right: 50px;
  margin-left: 50px;
  padding-bottom: 40px;
  fill: #943ab8b2;
  opacity: 50%;
}

.footer svg:hover{
  opacity: 100%;
}